<html>
    
    
    <head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<!--
  <link rel="stylesheet" type="text/css" href="/css/regstyle.css">
 // <script type="text/javascript" src="/js/regvalidations.js"></script>
-->
</head>

<body>  <div class="col-md-offset-2 col-md-6">    

    <div class="container"><div class="" style="width:500px">
    <h4>login page</h4>
    <form name="regform" method="post" action="/login">
            
        <div class="form-group">
        <label>username</label>
            <input type="text" class="form-control" placeholder="username" name="username"><br></div>
        
        <div class="form-group">
        <label>password</label>
            <input type="password" class="form-control" placeholder="password" name="password"><br></div>
        

        
        <div class="form-group">
            <button type="login" class="btn btn-primary" onclick="">Submit</button></div>
    
    
    
    </form>
        </div></div></div>
</body>
</html>